body {
  font-family: Helvetica;
  text-align: center;
}

h1 {
  font-size: 70px;
  font-weight: bold;
}

a {
  font-size: 18px;
}

h1,
li,
h4,
.footer {
    color: white;
}

.footer {
  font-size: 11px;
  background-color: dimgray;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 23px;
  font-weight: bold;
}

p {
  font-size: 14px;
}

h4 {
  font-size: 23px;
  font-weight: bold;
}
