body {
  font-family: Helvetica;
  font-weight: bold;
  text-align: center;
}

header,
h4 {
  background: url("../images/the-flatiron-building.png") no-repeat;
}

footer {
  font-size: 11px;
  text-align: left;
  background-color: dimgray;
}

h1 {
  font-size: 70px;
}

h2 {
  font-size: 32px;
}

h3,
h4 {
  font-size: 23px;
}

p {
  font-size: 14px;
}

h1,
h4,
a,
footer {
    color: white;
}

a {
  font-size: 18px;
}

a,
p,
footer {
  font-weight: normal;
}

li {
  list-style-type: none;
  margin-bottom: 15px;
}
